/Ch1_Python_Crash_Course_Python_CodingThailand2026.pptx
/Ch2_pandas_matplotlib_Python_CodingThailand2026.pptx
/Ch3_Workshop_3Levels_PythonCodingThailand2026.pptx
/Ch4_Solutions_Python_Summary_CodingThailand2026.pptx
/Logo Coding th.png
/Script_บทที่1_Python_Crash_Course.md
/Script_บทที่2_Pandas_Matplotlib.md
/Script_บทที่3_Workshop.md
/Script_บทที่4_Solutions_Summary.md